#root {
  margin: 0 auto;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.title {
  margin: 0;
  text-align: center;
}

.country {
  background-color: white;
  width:inherit;
  height: 15vh;
  border-bottom: 2px solid whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.country img {
  height: 55px;
  width: 100px;
  margin: 20px;
}

p.country {
  vertical-align: top;
}

.map-countries {
  position: relative;
  margin-top: 20px;
}

p.name {
  position: absolute;
  left: 18vw;
}

p.region {
  position: absolute;
  left: 40vw;
}

p.population {
  position: absolute;
  left: 55vw;
}

div.languages {
  position: absolute;
  left: 70vw;
}

p.tr-flag {
  position: absolute;
  top: -30px;
  margin-left: 20px;
  height: 100%;
  font-weight: bold;
}

p.tr-name {
  position: absolute;
  top: -30px;
  left: 18vw;
  font-weight: bold;
}

p.tr-region {
  position: absolute;
  top: -30px;
  left: 40vw;
  font-weight: bold;
}

p.tr-population {
  position: absolute;
  top: -30px;
  left: 55vw;
  font-weight: bold;
}

p.tr-lang {
  position: absolute;
  top: -30px;
  left: 70vw;
  font-weight: bold;
}

.more-icon:hover {
  cursor: pointer;
}

.details {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-p {
  width: 55vw;
  height: 70vh;
  word-wrap: break-word;
}

.details h1 {
  margin: 25px;
}

.space {
  margin-bottom: 40px;
}